.dropFile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;

    height: 300px;
    width: 500px;

    background-color: rgb(154, 149, 142, 0.6);
    border-radius: 20px;
    outline: 4px dotted rgb(209, 185, 185);
    outline-offset: 1px;

    background-repeat: no-repeat;
    background-position: center center;
    /* background-size: cover; */
    background-size: contain;

    padding: 0;
    overflow: hidden;

    box-shadow: rgba(20, 9, 84, 0.15) 0px 48px 100px 0px;
}

.dropFile #imageUpload {
    display: none;
}

.uploadBtn {
    background-color: #DE0C78;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.1s;
}

.uploadBtn:hover {
    background-color: #9c0a55;
}

.uplodedImg {
    height: 300px;
    width: auto;
}

.detect {
    margin-top: 50px;
    width: 9rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #DE0C78;
    box-shadow: 9px 9px 16px rgb(0, 0, 0), -9px -9px 16px rgb(0, 0, 0);
    border-radius: 2rem;
    cursor: pointer;
}

.detect span {
    font-size: 1rem;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: 600;
    cursor: pointer;
}

.detect:hover {
    box-shadow: inset 9px 9px 16px rgb(58, 14, 46), inset -9px -9px 16px rgb(69, 18, 58);
}