.works{
    min-height: 100vh;
    width: 100vw;

    background-image: url(../css/img/white-snow_background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent black overlay */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.works .title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 50px;
}

.works .members{
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-evenly;
    align-items: center;
    gap:50px;
}

.works .members .member{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap:15px;
    backdrop-filter: blur(6px);

    height: auto;
    width: 280px;
    padding:30px 5px;

    border-radius: 15px;
    border: 1px solid rgba(247, 197, 197, 0.6);
    box-shadow: rgba(71, 61, 122, 0.071) 0px 10px 30px 0px;
}

.works .members .member .memberImg{
    height: 8rem;
    width: 8rem;
    border-radius: 100%;
    border: 1.5px solid rgba(247, 197, 197, 0.6);
}

.works .members .member .name{
    position: relative;
    top:10px;

    font-size: 1.2rem;
    font-weight: 600;
}

.works .members .member .designation{
    font-size: 1rem;
    font-weight: 400;
    color:darkgrey
}