<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/resources/icons/pngtree.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/resources/icons/pngtree.png">
    <link rel="shortcut icon" href="../static/resources/css/img/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap"
        rel="stylesheet" type="text/css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/resources/css/login.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

    <title>DEEP FAKE</title>

    <script src="../static/resources/js/login.js" defer></script>
</head>

<body>

    <div class="form-signin">
        <img src="../static/resources/css/img/logo.png" alt="">
        <h2 class="form-signin-heading">Please login</h2>
        <input id="email" type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
        <input id="password" type="password" class="form-control" name="password" placeholder="Password" required="" />
        <label class="checkbox">
            <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
        </label>
        <div class="buttons">
            <button id="login" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            <button id="signup" class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
        </div>
    </div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script> AOS.init();</script>
</body>

</html>